@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #1C8EF9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h2{
    display: flex;
    justify-content: center;
    margin: 2em;
}
.contenedor, .correcto, .error{
    background-color: white;
    width: 40%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 50px rgb(146, 146, 146);
    border-radius: 1em;
}

.contenedor-padre{
    width: 100%;
    margin: 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.correcto h2{
    color: #1C8EF9;
}

.error h2{
    color: #fc2626;
}
  





